<p>
  Hey,<br />
  <%=
    if @message and !@message.strip.blank?
        @message + ","
    else
        "Someone thought you may be interested in this,"
    end
  %><br /><br />
  <%= auto_link(capsule_url(@product.id)) %><br />
</p>
<p>
  Regards,<br />
  Dealkat
</p>
