<h1>Change Password</h1>

<% form_tag change_password_path do %>
  <p class="ctrl">
      <%= label_tag(:password, "New Password") %>
      <%= text_field_tag :password, '', :class => "text w200" %>
      <em>At least 8 characters and 1 number.</em>
  </p>
  <p class="ctrl actions">
      <span class="button green"><%= submit_tag("Go!") %></span>
      <%= link_to "Cancel", "javascript:history.back();", :class => "alter" %>
  </p>
<% end %>
