<h1>
    <% if @accepted == true %>
      Done deal. Get your exclusive coupon now!
    <% elsif @counter == true or @last_offer == true %>
      This is our best offer, a great deal. Hope you accept!
    <% else %>
      Game on! Say your price and let's make a deal!
    <% end %>
</h1>
<div class="columns">
    <div class="column widest">
      <%= render :partial => "partials/capsule", :object => @product %>
    </div><!-- .column.wide -->
</div><!-- .columns -->
