<%= calendar_date_select_includes "default" %>
<h1>Look at these cool wardrobes matching your parameters</h1>

<% form_tag schedule_path, :id => "schedule_form" do %>
    <p class="ctrl">
        Go Live start date for this wardrobe?<br />
        <%= calendar_date_select_tag "start_date", Date.today, :embedded => true, :year_range => Date.today.year..Date.today.year+5, :month_year => 'label', :onchange => "javascript::void();", :valid_date_check => "date >= (new Date()).stripTime()"%>
    </p>
    <p class="ctrl">
        Go Live end date for this wardrobe?<br />
        <%= calendar_date_select_tag "end_date", Date.today, :embedded => true, :year_range => Date.today.year..Date.today.year+5, :month_year => 'label', :onchange => "javascript::void();", :valid_date_check => "date >= (new Date()).stripTime()"%>
    </p>
    <p>
        <span class="button-green-fat"><%= submit_tag("Go Live!") %></span>
    </p>
<% end %>
